:root {
    --white: (#FAF3DD);
    --bluewhite: (#C8D5B9);
    --lightblue: (#8FC0A9);
    --: (#68B0AB);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #6974a78f;
    font-family: 'Open Sans', sans-serif;
}

header {
    display: flex;
    width: 100%;
    height: 150px;
    justify-content: space-between;
}

.navbar {
    height: 100%;
    width: 100%;
    background-color: --;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar .logo img {
    width: 100%;
}

.menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: square;
}

.menu ul li {
    margin: 0 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul li a {
    text-decoration: none;
    color: var(--white);
    font-family: var(--font-family);
    background-color: #6974a78f;
    width: 100px;
    text-align: center;
    color: aliceblue;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    box-sizing: border-box;
}

.menu ul li a:hover {
    background: none;
    transition: 1s;
}

.hero_section {
    width: 100%;
    padding: 20px;
    background-color: #6974a78f;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.hero_section img {
    width: 100%;
}

.hero_section-text {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
}

.slogan {
    display: flex;
    justify-content: space-around;
    width: 60%;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

h1 {
    font-size: 3rem;
    font-weight: 800;
}

.hero_section-more {
    font-family: var(--font-family);
    width: 60%;
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
}

.hero_section-more a {
    width: 40%;
    padding: 10px;
    text-align: center;
    color: #FAF3DD;
    background-color: #030329;
    text-decoration: none;
    font-size: 1.8rem;
    border-radius: 10px;
}

.imagen-presentacion {
    display: flex;
    width: 50%;
    margin: auto;
    align-items: center;
}

.description {
    display: flex;
    width: 100%;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #6974a78f;
    box-sizing: border-box;
}

.parrafo {
    display: flex;
    width: 80%;
    font-size: 2rem;
    text-align: center;
    padding: 20px;
}

.imagen-trabajos {
    display: flex;
    width: 90%;
    flex-direction: column;
    margin: auto;
    align-items: center;
}

.apaisada1 {
    width: 80%;
    height: 300px;
    display: flex;
    background-image: url(panoramica-pehuenia.JPG);
    background-size: cover;
    margin: auto;
    margin-bottom: 20px;
}

.ambas {
    display: flex;
    width: 90%;
    justify-content: space-around;
    margin: auto;
    box-sizing: border-box;
}

.primera {
    width: 48%;
    display: flex;
    background-image: url(pehuenia.JPG);
    background-size: cover;
    height: 400px;
}

.segunda {
    width: 48%;
    display: flex;
    background-image: url(VLA-paisaje.jpg);
    background-size: cover;
    height: 400px;
}

.servicios {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: #6974a78f;
}

.reseña {
    display: flex;
    width: 60%;
    margin: auto;
    text-align: center;
    flex-direction: column;
    margin-top: 30px;
}

.reseña h2 {
    font-size: 2.3rem;
    margin-bottom: 20px;
}

.reseña p {
    font-size: 1.5rem;
}

.cards {
    display: flex;
    width: 90%;
    margin: auto;
    align-items: center;
    margin-top: 30px;
    padding: 20px;
    box-sizing: border-box;
    justify-content: space-around;
    margin-bottom: 30px;
}

.card123 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 20%;
    height: 300px;
    border: 4px solid #030329;
    border-radius: 15px;
    box-shadow: 8px 9px 16px 4px rgba(206, 240, 233, 0.48);
    -webkit-box-shadow: 8px 9px 16px 4px rgba(206, 240, 233, 0.48);
    background-color: #68B0AB;
    font-size: 1.5rem;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.material-symbols-outlined {
    font-size: 50px;
}

.contact-us {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    padding-top: 50px;
    background-color: #6974a78f;
}

.contactanos {
    display: flex;
    margin: auto;
    width: 40%;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

h4 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;

}

.global-contact {
    display: flex;
    width: 100%;
    font-size: 1.5rem;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: auto;
    box-sizing: border-box;
}

.contacto12 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40%;
}

h5 {
    margin-bottom: 15px;
}

ul {
    list-style: none;
}

.maps {
    display: flex;
    width: 50%;
    margin: auto;
    box-sizing: border-box;
    align-items: center;
}

iframe {
    margin: auto;
}

.logo-abajo {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: --;
}