index.css @import url('https://fonts.googleapis.com/css2?family=Smooch&display=swap');

:root {
    --: var(rgb(224, 246, 248)) --white:var(--white) --font-family: 'Smooch', cursive;
    ;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    background-color: rgba(34, 182, 196, 0.603);
}

.navbar {
    height: 80px;
    background-color: #3e7bb16b;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo img {
    width: 100%;
    min-width: 60px;
    max-height: 103px;
}

.menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: square ;
}

.menu ul li {
    margin: 0 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul li a {
    text-decoration: none;
    color: var(--white);
    font-family: var(--font-family);
    background-color: #6974a78f;
    color: aliceblue;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
}

.menu ul li a:hover {
   background: none;
   transition: 1s;
}

.hero_section {
    height: calc(100vh - 53px);
    background-color: #6974a78f;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.hero_section-text h1 {
    font-size: 50px;
    font-family: var(--font-family);
    font-weight: 300;
    color: #0000cd8f;
    border-radius: 10px 10px;
    background-color: rgb(179 210 213);
    text-align: center;
    display: flex;
    place-content: space-around start;
    line-height: 2;
}

.hero_section-more {
    font-size: 15px;
    font-family: var(--font-family);
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    border-radius: 20px;
    background-color: #0000cd8f;
}

.description p {
    font-family: var(--font-family);
    font-size: 35px;
    font-weight: 300;
    text-align: justify;
    margin-bottom: 30px;
    }


